*{
	margin:0;
	padding:0;
}
ol,ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	cursor:pointer;
}

body{
	background-color: #e6e6e6;
}

@media all and (min-width: 1300px){
	body{
		width: 1300px;
		margin: 0 auto;
	}
}
@media all and (min-width: 850px) and (max-width: 1299px){
	body{
		width: 100%;
		margin: 0 auto;
	}
}
@media all and (min-width: 400px) and (max-width: 849px){
	body{
		width: 100%;
		margin: 0 auto;
	}
}
@media all (max-width: 399px){
	body{
		width: 100%;
		margin: 0 auto;
	}
}

.header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	color: #fff;
	background-color: #ff6600;
}
.title{
	font-size: 2em;
}

/* banner  */
#banner{
	position: relative;
	z-index: 85;
	width: 100%;
	height:300px;
	overflow: hidden;
}
.banner-btn{
	position: absolute;
	z-index: 88;
	filter: Alpha(Opacity=80);
	opacity:0.8;
	border:1px solid #fff;
	bottom:3px;
	right:5px;
}
.banner-btn i{
	padding: 0 8px;
	color: #FFF;
	border: #e5eaff 1px solid;
	background: #6f4f67;
	cursor: pointer;
}
.banner-btn i.on{
	background: #900;
}
.banner_list,.banner_list img{
	width: 100%;
	height: 100%;
}

.mat, main, .promise, .promise > img{
	width: 100%;
}

.lf{float:left;}
.rf{float:right;}
.fw{font-family: "microsoft yahei";}
.fs{font-family: simsun;}
.fa{font-family: arial;}
.fb{font-weight: bold;}
.tct{text-align:center;}
.trt{text-align: right;}
.tjt{text-align: justify;}
.dbk{display:block;}
.clearFix{zoom:1;}
.clearFix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;zoom:1;}


.mtop_box{
	height: 121px;
}
.logo,.logo img{
	height: 80px;
}

.mhot{
	text-align: right;
	margin-top: 35px;
}
.mhot_h1{
	font-size: 18px;
	color: #333;
	line-height: 22px;
}
.mhot_h2{
	font-size: 18px;
	font-weight: bold;
	color: #ff6600;
	line-height: 22px;
}
.mhot_h3{
	font:bold 30px "microsoft yahei";
}
/*head end*/
.nav{
	background-color: #ff6600;
}
.nav-box{
	height: 39px;
}
.nav_li{
	float: left;
	height: 100%;
	height: 39px;
	position: relative;
	color: #fdfdfd;
	font-size: 14px;
	line-height: 39px;
}
.nav_li.on{
	background-color: #eee;
	color: #323232;
}

.mcom_T{height: 46px;background-color: #ff6600;padding: 0px 15px;}
.mcom_T2{font-size: 22px;color: #e6e6e6;line-height: 46px;text-transform: uppercase;}
.mcom_T2 span{font-weight: bold;}
.mcom_T1{font: 12px simsun;color: #fff;line-height: 46px;}
.mcom_T1 a{color: #fff;}

#menubox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height:35px;
	background:url(../images/tiao.jpg) no-repeat left bottom;
	margin-top:10px;
}
#menubox span{background:url(../images/list1.jpg) no-repeat left center; text-indent:18px; line-height:35px; float:left; font-size:14px; color:#999;}
#menubox span b{ color:#333;}
#menubox ul {margin:0; padding:0; line-height:35px;}
#menubox ul li {display:inline; cursor:pointer; overflow:hidden;}
#menubox ul li.active {color:#ff4a00; font-weight:bold;}

.con_zzjs{
	display: none;
}
#con_zzjs_1 {
	display:block;
}
.case_style{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.case_style .case_image{
	width: 23%;
	height: 230px;
	margin: 10px 1% 10px 1%;
	overflow: hidden;
}

.foA_h3{font-size: 16px;color: #F5F5F5;line-height: 22px;padding: 20px;}
.foA_Wei_img{display: block;height: 96px;}

.footer{
	width: 100%;
	background-color: #585858;
}
